.aboutmetext{
font-family: "Poppins", sans-serif;
width: 800px;
font-size: 17px;
color: whitesmoke;
white-space: pre-line;
letter-spacing: 2px;

}



.me{
    font-family: 'Roboto Mono', monospace;
    color: #8257e5;
}

#aboutme{
  
    padding: 140px 150px 20px 150px;
    background-image: url(/img/backgroundskill.png);
    height: 970px;
    background-position-x: 70px;
    background-size: 1865px;
    background-position: 0px -80px;

    
}

.sobre{
    display: flex;
    justify-content: center;
}