#pagina-inicial{
    padding: 250px 120px 20px 150px;
    
    height: 970px;

    
}
#pagina-inicial{
    background-image: url(../img/backgroundspace.png);
    background-size: 1920px;
    background-position: 0px -250px;
}
.Menucont{
    font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 41px;
line-height: 49px;
text-align: center;

color: #FFFFFF;

position: relative;
display: flex;
justify-content: flex-end;
bottom: 200px;


}

.ajuste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-p{
    position: relative;
    left: 0px;
    width: 55%;
    min-width: 620px;
}
.textTittle{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
    color: whitesmoke;

}

.subtitulo{
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
    color: whitesmoke;
}
 
.mytext{
    font-family: "Poppins", sans-serif;
    width: 43%;
    min-width: 480px;
    font-size: 16px;
    color: whitesmoke;letter-spacing: 2px;
    position: relative;
    top: 230px;
    left: 0;
    z-index: 30;

}
.container{
    
}

#home{
    background-color: none;
}

.RdSociais{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

position: absolute;
width: 46.12px;
height: 330px;
left: 69px;
top: 393px;

}

.instagram, .github, .linkedin{

    width: 30px;
}
