#projects{
    color: #f1f1f1;
padding: 140px 100px 10px 150px;
font-family: "Poppins", sans-serif;
background-image: url(/img/imgproject.png);
background-size: 1920px;
    background-position: 0px -50px;
    height: 990px;
}





.myproject{
    display: flex;
    justify-content: center;
}
 



/* Card */

.slider {
    display: block;
    height: 293px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #efe9e9;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li img{
    border-radius: 20px;
}

.slider li:nth-child(1) label {
    left: 10px;
    border-radius: 20px;
}

.slider li:nth-child(2) label {
    left: 40px;
    border-radius: 20px;
}

.slider li:nth-child(3) label {
    left: 70px;
    border-radius: 20px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}